.BoardsList {
    padding: 24px;
}

.board{
    width: 300px;
    height: 180px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    float: left;
    margin-right: 24px;
    margin-bottom: 12px;
    padding: 12px;
    box-sizing: border-box;

}

.board .head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 24px;
}

.board .head > img {
    width: 24px;
    margin-right: 6px;
}

.board .head .right-controls {
    display: flex;
    flex: 2;
    justify-content: flex-end;
}

.board-add {
    cursor: pointer;
    opacity: 0.5;
}

.board-add:hover {
    opacity: 1;
}
