.column {
    width: 402px;
    min-height: 180px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 10px 10px rgba(0,0,0,0.1);
    float: left;
    margin-right: 20px;
    padding: 12px;
    box-sizing: border-box;
}

.card {
    padding: 12px;
    border: 1px solid #CCCCCC;
    border-radius: 6px;
    margin-bottom: 6px;
}

.hidden {
    display: none !important;
}

.add-new {
border: none;
font-weight: bold;
color: #AAAAAA;
text-align: center;
cursor: pointer;
}

.add-new p{
    margin: 0;
    padding: 12px;
    border-radius: 6px;
}

.add-new p:hover{
    background: #EEEEEE;
}

.add-new-edit{
display: flex;
flex-direction: column;
}

.add-new-edit > div{
outline: none;
padding: 12px;
float: left;
}

.add-new-edit button{
background-color: #4680FF;
color: #FFFFFF;
padding: 12px;
border: none;
border-radius: 6px;
cursor: pointer;
float: right;
}

.wrapper {
    width: 100%;
    overflow: auto;
}

.wrapper .canvas {
    width: auto;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
